.account-content {
    margin-top: 2.1rem;

    label {
        margin-bottom: .7rem;
        color: $body-text;
        font-family: $font-family;
        font-size: 1.4rem;
        font-weight: 400;
    }

    form {
        margin-bottom: 4px;
    }

    .form-input {
        margin-bottom: 1.7rem;
        padding-top: .8rem;
        padding-bottom: .8rem;
        border-color: #e7e7e7;
        line-height: 32px;
    }

    .form-group { 
        margin-bottom: 1.7rem;

        p {
            font-size: 1.3rem;
            margin-top: 3px;
        }
    }

    .form-control {
        padding-top: 2px;
        padding-left: 1.2rem;
        font-size: 1.4rem;
        height: 50px;
        border-color: rgba(0,0,0,0.09);
        letter-spacing: -.015em;
    }

    .btn {
        font-family: $font-family;
        font-size: 1.5rem;
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .custom-line {
    border: none;          
    border-top: 1px solid #E2E2E2; 
    width: 100%;          
    margin: 20px 0;       
  }

  .popup-body-content{
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-family: "poppins";
    
  }

  .popup-label-content{
    color: #737373;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 30px;

  }
  
  .popup-head-content{
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    color: #1B1B1B;
    font-family: "poppins";
  }
  .popup-content {
    background: white;
    padding: 30px;
    margin: 10px;
    text-align: start;
    width:55%;
  }
  .popup-input {
    width: 100%;             
    height: 130px;           
    border: 1px solid #CDCDCD;
    padding: 8px;           
    box-sizing: border-box; 
    resize: none;            
    font-size: 14px;       
    line-height: 1.5;       
  }

  .popup-input:focus{
     outline: none;
  }

  .popup-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: end;
    gap: 10px;
    margin-top: 20px;
  }
  
  .popup-actions button {
     padding: 0px;
     width: 200px;
     height: 40px;
     
  }



  @media (max-width: 768px) {
    .popup-content{
        width: 90%;
        padding: 20px;
    }
  }

  
  @media (max-width: 480px) {
    .popup-head-content{
        font-size: 20px;
      }
      .popup-body-content{
        font-size: 12px;
      }
    
  }
  

.change-password {
    padding: 2.6rem 3rem 2.2rem;
    border: 2px solid #e7e7e7;

    h3 {
        font-size: 1.6rem;
        font-family: $font-family;
    }

    .btn {
        padding: 1.6rem 4.5rem 1.5rem;
        letter-spacing: -.02em;
    }
}

.page-header,
.about {
    .breadcrumb-item + .breadcrumb-item:before {
        padding-right: 1.1rem;
    }
} 

.account-container {
    .nav-link {
        letter-spacing: -.025em;
    }

    .nav-tabs.list .nav-item {
        margin-right: 3.5rem;
        outline: none;
    }

    .sidebar {
        height: auto;
    }
}

.show-content,
.hide-content {
    &.fade:not(.show) {
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
}