.coupon-container-main {

      // height: 400px;
      display: flex;
      flex-direction: row;
      gap: 20px;
      flex-wrap: wrap;
      // background: #00000022;
      margin-bottom: 10px;



}

@media(max-width:500px) {

      .coupon-container-main {

            // height: 700px;
            display: flex;
            flex-direction: row;
            // gap: 50px;
            flex-wrap: wrap;
            padding-top: 30px;



      }
      .pagination-container{

             margin-top: 5px;
      }
}

.coupon-btn{
       width: 70px;
       height: 30px;
       border: none;
       background-color: rgb(6, 6, 6);
       color: white;
      //  border-radius: 10px;
       font-size: 14px;
       display: flex;
       justify-content: center;
       align-items: center;
       box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      //  font-weight: bold;

}


.coupon-box-main {

      width: 600px;
      height: 150px;
      // background-color: rgb(228, 171, 171);
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      padding: 20px;


}

.coupon-box-main h2 {

      font-size: 18px;
      font-family:"Poppins" ;
}