.login-container {
    margin-top: 3.9rem;

    .heading .title {
        margin-bottom: 0;
        font-size: 2.6rem;
        letter-spacing: -.01em;
        font-weight: 600;

    }

    .custom-checkbox .custom-control-label:after {
        left: 4px;
    }

    form {
        margin-bottom: 64px;

        label {
            margin-bottom: .7rem;
            color: $body-text;
            font-family: $font-family;
            font-size: 1.4rem;
            font-weight: 400;
        }

        .form-input {
            margin-bottom: 1.7rem;
            padding-top: .8rem;
            padding-bottom: .8rem;
            border-color: #CDCDCD;
            line-height: 32px;
            width: 100%;
            max-width: 538px;
            
        }

        .btn {
            font-family: $font-family;
            font-size: 1.4rem;
        }

        .form-footer {
            margin-top: 1.8rem;
            margin-bottom: 2.8rem;
        }
    }

    .custom-checkbox {
        margin-top: 1px;
        padding-left: 2.5rem;

        .custom-control-label {
            margin-top: 2px;
            font-size: 1.2rem;
        }
    }

    .forget-password {
        font-size: 1.4rem;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }

    .col-md-6:first-child .form-footer {
        margin-top: 1.3rem;
    }
}
.custom-loginleft{
// margin-left: 115px;
}
.otpcontainer{
    margin-top: 200px;
}
.orcircle{
    background-color: #F8F8F8;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;   
}
.custom_login_space{
    padding-top: 85px;
    padding-left: 0;
}
.orcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 538px;
}
.googlebtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    max-width: 538px;
    border: 1px solid #CDCDCD,
}
.buttonwrapper{
    display: flex;
flex-direction: column;
gap: 20px
}
.otpbox{
    width: 45px !important;
    height: 45px !important;
    text-align: center;
    font-size: 15px;
    border-color: #ECECEC;
  
    outline: none;
    border: 1px solid #ECECEC;
}
.left-login-section{
    margin-top: 110px;
}
.reset-password-container {
    padding-top: 3.9rem;
    padding-bottom: 3rem;

    .form-control {
        height: 37px;
    }

    .feature-box .feature-box-content {
        padding-bottom: 31px;
    }

    p {
        margin-bottom: 1.7rem;
        font-size: 1.4rem;
        line-height: 1.75;
    }

    label {
        margin-bottom: .7rem;
        color: inherit;
        font-family: $font-family;
        font-size: 1.4rem;
    }

    input {
        line-height: 1.5;
    }

    .form-footer {
        margin-top: 1.5rem;

        a {
            margin-top: 5px;
            font-size: 1.4rem;

            &:hover {
                text-decoration: underline;
            }
        }

        .btn {
            padding: .8rem 1.2rem;
            font-family: $font-family;
            font-size:1.4rem;
            line-height: 21px;
        }
    }
}
.countrycodeinput{
    height:5rem;
}
.login_page{
    // background-image: url("/images/login_bg_svg.svg");
    // background-size: 100% 100%;
    // background-position-y: 90px;
    // background-repeat: no-repeat;
    position: relative;
    .login_bg_image{
        position: absolute;
        width: 100vw;
        // top: 270px;
        top: 100px;
    }
    .login_container{
        height:600px;
        // height:700px;
    }
    .login_content{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: start;
        // margin-top: 12%;
        // padding-left: 100px;
        padding-top: 80px;
    }
    .login_content_otp{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-left: 135px;
        padding-top: 80px;
    }
    
    .login_img_div{
        display: flex;
        // margin-top: 8%;
        align-items: start;
        justify-content: center;
    }
    .login_watch_img{
        animation: zoomAnim .8s ease-in-out;
        pointer-events: none;
    }
}


@keyframes zoomAnim {
    0%{
        // transform: translateX(2000px) translateY(-800px);
        opacity:0;
        scale:.1;
    }
    80%{
        // transform: translateX(0px) translateY(0px);
        opacity:1;
        scale:1.1;
    }
    100%{
        scale:1;
    }
}
@media (min-width: 1600px){
    .login_page{
        .login_bg_image{
            top: 100px;
        }
    }
}
@media (max-width: 768px)
    {
        .custom_login_space{
            padding-top: 156px;
           
        }
        .countrycodeinput{
            height: 5.3rem;
        }
        .custom_loginresp{
            padding: 10px 25px;
        }
        .custom_headlog{
            margin-top: 15px
        }

        .custom-loginleft{
            margin: 10px;
        }
        .otpbox{
            width: 45px !important;
            height: 45px !important;
        }
        .otpcontainer{
            margin-top: 0;
        }
        .left-login-section {
            margin-top: 15px;
        }
        .googlebtn{
            width: 100%;
        }
        .orcontainer{
            width: 100%;
        }
        .login-container form .btn{
            display: flex;
            width: 100%;
            justify-content: center;
        }
        .login_page{
            animation: bgAnim 1.3s ease-in-out;
            background-position-y: 90px;
            .login_container{
                height: 100%;
            }
            .login_content{
                min-width: 100%;
                justify-content: start;
                align-items: center;
                padding-left: 0;
            }
            .login_content_otp{
                padding-left: 0px;
                min-width: 100%;
                margin-top: 10px;
                justify-content: start;
                align-items: center;

            }
            .login_bg_image{
                top: 200px;
            }
            .login_img_div{
                display: none !important;
                background: #000;
            }
        }
        
    .login_otp_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto !important;
        .otp_boxes{
            width: 100%;
            margin-left:-17% ;
            text-align: center !important;
            display: flex;
        }
    }
    .login_content,.login_content_otp{
        h2,p{
            text-align: center;
        }
    }
}
@media(max-width:541px){
    .login_page{
        .login_bg_image{
            top: 280px;
        }

    }
}
@media(max-width:440px){
    .login_page{
        .login_bg_image{
            top: 340px;
        }
    }
}

@include mq(md) {
    .login-container {
        .col-md-6:first-child {
            // padding-right: 3.4rem;
        }

        .col-md-6:last-child {
            padding-left: 3.4rem;
        }
    }
}

@include mq(md, max) {
    .login-container form {
        margin-bottom: 50px;
    }
}

@keyframes bgAnim {
    0%{
        background-position-y: 150px;
    }
    100%{
        background-position-y: 90px;
        
    }
}

