.container>.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 700px;
    width: 100%;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 134px;
}

.container>.centered-content>img {
    max-width: 100%;
}

.container>.centered-content>h4 {
    margin: 0;
    font-weight: 600;
}

.container>.centered-content>span {
    font-weight: 400;
    font-size: 14px;
}

.container>.centered-content>.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.container>.centered-content>.buttons>button {
    min-width: 300px;
    height: 50px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.container>.centered-content>.buttons>button:first-child {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid;
}

.container>.centered-content>.buttons>button:last-child {
    background-color: #000000;
    color: #FFFFFF;
}
.container>.centered-content>.buttons>button:hover{
    background-color: #E30613;
    color: #FFFFFF;
    border-color: #E30613;

}
/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container>.centered-content>span {
        font-size: 12px;
    }

    // .container > .centered-content > .buttons > button {
    //     min-width: auto;
    //     width: 80%;
    // }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: calc(100% - 20px);
    }
}

.head-card {
    width: calc(50% - 20px);
    margin-bottom: -17px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    // padding: 20px;
    box-sizing: border-box;

}

.card {
    background-color: #FFFFFF;
    // border-radius: 8px;
    // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

}


.card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    line-height: 1.5;
}
 
.payment_card_img{
    margin-left: 20px;
}


@media (max-width: 768px) {
    .payment_card_img{
        margin-left: 0;
    }
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container>.centered-content>span {
        font-size: 12px;
    }

    // .container > .centered-content > .buttons > button {
    //     min-width: auto;
    //     width: 80%;
    // }

    .cards-container {
        flex-direction: column;
        align-items: center;

    }

    .card {
        width: calc(100% - 20px);
        flex-direction: column;
        gap: 10px;

    }

    .head-card {
        // flex-direction: column;
        display: none;

    }
}


@media screen and (max-width:480px) {
    .container>.centered-content>.buttons {
       flex-direction: column;
    }

    .container>.centered-content>.buttons>button {
        // min-width: auto;
        width: 80%;
    }

    .container>.centered-content {
        margin-bottom: 90px;
    }
}
.hoverbtn{
    background: #000 !important;
}
.hoverbtn:hover {

    background-color: #E30613 !important;
    background: #E30613 !important;
    color: #ffffff;
    border-color: #E30613;
}
.hoverredbtn:hover {

    background-color: #000 !important;
    background: #000 !important;
    color: #ffffff;
    border-color: #000;
}

.hoverinto {
    background-color: #ffffff ;
    background: #ffffff ;
    color: black ;
    cursor: pointer !important;
}
.cart_btn{
    border: 1px solid #000 !important;
    color: #000 !important;
    font-weight: 500 !important;

}
.cart_btn:hover{
    background: #E30613;
    color: #ffffff !important;
    border-color: #E30613 !important;
}
.hoverinto:hover {
    background-color: #E30613;
    color: #ffffff;
    border-color: #E30613;
}


.thanks-card-p {


    margin-left: 50px;
}




@media(max-width:500px) {

    .thanks-card-p {


        margin-left: 50px;
    }
}